<div class="home-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="img-responsive" src="assets/images/sunnyhilltech-logo.png" alt="Logo">
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">{{ 'home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">{{ 'products' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">{{ 'logout' | translate }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="product-table">
    <table>
      <thead>
        <tr>
          <th>{{ 'name' | translate }}</th>
          <th>{{ 'category' | translate}}</th>
          <th>{{ 'price' | translate }}</th>
          <th>{{ 'stock' | translate}}</th>
          <th>{{ 'actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ formatCurrency(product.price) }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <button (click)="editProduct(product)">Edit</button>
            <button (click)="deleteProduct(product)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="add-product-btn" (click)="openProductDialog()">{{ 'add-product' | translate }}</button>

  <div *ngIf="isDialogOpen" class="product-dialog-overlay">
    <div class="product-dialog">
        <h2>{{ product?.id ? 'Edit Product' : 'Add Product' }}</h2>
        <div class="form-field">
            <label for="name">Product Name:</label>
            <input type="text" id="name" >
        </div>
        <div class="form-field">
            <label for="category">Category:</label>
            <input type="text" id="category" >
        </div>
        <div class="form-field">
            <label for="price">Price:</label>
            <input type="number" id="price" required>
        </div>
        <div class="form-field">
            <label for="stock">Stock:</label>
            <input type="number" id="stock"  required>
        </div>
        <div class="button-group">
            <button (click)="saveProduct()" class="save-btn">Save</button>
            <button (click)="closeDialog()" class="cancel-btn">Cancel</button>
        </div>
    </div>
</div>

</div>
